.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.DS_Store
docs
revdep
*~
~\$*

vignettes_working

vignettes/*.rmarkdown
vignettes/*_cache
vignettes/*.R
vignettes/*.tex
vignettes/*.pdf
vignettes/*.md
vignettes/*.html
vignettes/jss*
vignettes/*_sections/*_files
vignettes/*_sections/*.md
vignettes_src/manuscript/*.rmarkdown
vignettes_src/manuscript/*_cache
vignettes_src/manuscript/*_files
vignettes_src/manuscript/*tex
vignettes_src/manuscript/*pdf
vignettes_src/manuscript/*html
vignettes_src/manuscript_files

tests/testthat/testthat-problems.rds